[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "ext/SDL3"]
	path = ext/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "ext/emsdk"]
	path = ext/emsdk
	url = https://github.com/emscripten-core/emsdk.git
